SegyServlet/Dataset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.oasis-open.org/committees/ebxml-msg/schema/xlink.xsd"/>
	
	<xs:element name="Dataset">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Format" type="FormatType"/>
				<xs:element name="Organization" type="OrganizationType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Endpoint1Type">
		<xs:attribute name="x" type="xs:short" use="required"/>
		<xs:attribute name="y" type="xs:byte" use="required"/>
	</xs:complexType>
	<xs:complexType name="Endpoint2Type">
		<xs:attribute name="x" type="xs:short" use="required"/>
		<xs:attribute name="y" type="xs:short" use="required"/>
	</xs:complexType>
	<xs:complexType name="FormatType">
		<xs:sequence>
			<xs:element ref="Standard"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineInfoType">
		<xs:sequence>
			<xs:element name="Endpoint1" type="Endpoint1Type"/>
			<xs:element name="Endpoint2" type="Endpoint2Type"/>
		</xs:sequence>
		<xs:attribute name="orientation" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="crossline"/>
					<xs:enumeration value="inline"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ID" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="crossline-1"/>
					<xs:enumeration value="crossline-2"/>
					<xs:enumeration value="crossline-3"/>
					<xs:enumeration value="inline-1"/>
					<xs:enumeration value="inline-2"/>
					<xs:enumeration value="inline-3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute  type="xs:anyURI"/>
	</xs:complexType>
	<xs:complexType name="LineInfosType">
		<xs:sequence>
			<xs:element name="LineInfo" type="LineInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:sequence>
			<xs:element name="LineInfos" type="LineInfosType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Standard" type="xs:string"/>
</xs:schema>
