SegyServlet/segy-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Hugh Winkler (private) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="directory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="filesystem-path"/>
				<xs:element ref="relative-uri"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="filesystem-path">
		<xs:complexType/>
	</xs:element>
	<xs:element name="mounts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="directory" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="relative-uri">
		<xs:complexType/>
	</xs:element>
	<xs:element name="segy-servlet-config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mounts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
